.home {
  text-align: center;
}

.home-text {
  color: #333;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0.4em;
}

.home-subtitle {
  color: #333;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0.2em;
}

.home-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
