.home {
  text-align: center;
}

.home-text {
  color: #333;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0.4em;
}

.home-subtitle {
  color: #333;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0.2em;
}

.home-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.libellule {
  position: absolute;
  width: 10%;
  right: -10%;
  top: 0;
  animation: moveRight 4s infinite linear;
}

@keyframes moveRight {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateY(100%) translateX(-400%);
  }
}
