.container-image {
  display: flex;
  justify-content: center;
  height: auto;
  max-width: 600px;
  position: relative;
  padding: 2px;
  padding-bottom: 10px;

  .image-main {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}
