.container-group {
  display: flex;
  flex-direction: row;

  padding: 2px;
  //   border: 1px solid #ddd;
  //   background-color: #f9f9f9;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  img {
    height: 200px; // Set to the height you want
    flex: 1 1 auto;
    object-fit: scale-down;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: column;

    img {
      height: auto;
    }
  }
}
